{% extends 'base.html' %} {% block body %}
<div class="containe-fluid mx-0 mb-3">

    <img src="https://media.istockphoto.com/id/1988746299/photo/contact-us-or-customer-support-hotline-people-connect-businessman-touching-on-virtual-screen.jpg?s=1024x1024&w=is&k=20&c=WAoJWnug_kV0b3TqF0YR6tau9QmLj3xMJ4BjXB9XrMs=" class="d-block w-100 mx-0" alt="...">

</div>
<div class="container-fluid py-3">
    <h1 class="text-center">Contact us</h1>
    <form method="post" action="/contacts">
        {% csrf_token %}
        <div class="form-group">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name ">
        </div>
        <div class="form-group ">
            <label for="email " class="form-label ">Email adress</label>
            <input type="email " class="form-control " id="email " name="email" placeholder="Enter your Email">
        </div>
        <div class="form-group">
            <label for="phone" class="form-label ">Phone Number</label>
            <input type="text" class="form-control" id="phone" name="phone" placeholder="Enter your phone Number">
        </div>
        <div class="form-group">
            <label for="desc">tell me about what you want to contact me for</label>
            <textarea class="form-control" id="desc" rows="3" name="desc ">  </textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock body %}