{% extends 'base.html' %}

{% block body %}
    
    
    <div class="container-fluid mx-0">

      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/static/img/2.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5 style="color:black;"> welcome to the Scoopify </h5>
              <p style="color:black;">
                i know you eat icecream
              </p>


            </div>
          </div>
          <div class="carousel-item">
            <img src="/static/img/1.avif" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5 style="color:black;"> welcome to the Scoopify </h5>
              <p style="color:black;">
                i know you eat icecream
              </p>


            </div>
          </div>

          <div class="carousel-item">
            <img src="https://media.istockphoto.com/id/1161878589/photo/bueatiful-tea-plantation-on-mountain.jpg?s=1024x1024&w=is&k=20&c=wgGafYAVLguIeeNPpU8z7K0ejO0JunU0oec2PtrPMzQ=" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
              <h5 style="color:black;"> welcome to the Scoopify </h5>
              <p style="color:black;">
                i know you eat icecream
              </p>


            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <div class="container my-4">
      <h1 class="my-2 text-center"> select from the range of icecream</h1>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://media.istockphoto.com/id/687565668/photo/coconut-ice-cream.jpg?s=1024x1024&w=is&k=20&c=7tmfd5zkRJb_nAK8-IWYBj6D7HWIQAQHimQZQOveNfg=" alt="Ice Cream" 
            style="width: 400px; height: 300px; border-radius: 10px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);" class="d-block w-100">
            <div class="card-body">
              <p class="card-text">Coconut Icecream</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://media.istockphoto.com/id/1323710064/photo/ice-cream-in-a-waffle-cone-isolated-on-white-background-there-is-free-space-for-text.jpg?s=2048x2048&w=is&k=20&c=xsomcI8bpqsQoNGYrUwB7BExl42e-RcKCC3-9ElUvWw=" 
            alt="Chocolate Ice Cream" 
            style="width: 400px; height: 300px; border-radius: 10px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);" class="d-block w-100">
            <div class="card-body">
              <p class="card-text">Butterscotch Icecream</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://media.istockphoto.com/id/1494762369/photo/strawberry-ice-cream-with-fresh-berries-in-a-bowl-on-a-white-wooden-background-selective-focus.jpg?s=1024x1024&w=is&k=20&c=fcWgHyWkXJzydCq_vr2SGHPLvPhEFT4WmlUa72Hu5WY=" 
            alt="Chocolate Ice Cream" 
            style="width: 400px; height: 300px; border-radius: 10px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);" class="d-block w-100">
            <div class="card-body">
              <p class="card-text">Strawberry Icecream 
            
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="https://media.istockphoto.com/id/1782588762/photo/chocolate-ice-cream.jpg?s=1024x1024&w=is&k=20&c=txdD1e1aFokaMqBkq7yDxrZM_rJV-pwPdaZPOWFDqgI=" alt="Strawberry Ice Cream" style="width: 400px; height: 300px; border-radius: 10px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);" class="d-block w-100">
            <div class="card-body">
              <p class="card-text">Chocolate Icecream</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        

{% endblock body %}



<!--<!DOCTYPE html>
<html>
<head>
<title>test</title>
</head>
<body>
  <b> {{ variable }}</B>
<h1>This is a Heading</h1>
<p>This is a paragraph.</p>
-->





